{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Неделя 1</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Yeseva+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/weak_1.css' %}">
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'main/img/icon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'main/img/icon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'main/img/icon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'main/img/icon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'main/img/icon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'main/img/icon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'main/img/icon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'main/img/icon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'main/img/icon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'main/img/icon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/img/icon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'main/img/icon/avicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/img/icon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'main/img/icon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'main/img/icon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <header class="head">
        <img class="img" src="{% static 'main/img/logo_red.png' %}">
    </header>

    <div class="dni_1">
        <a href="{% url 'day_1' %}"><img class="k1" src="{% static 'main/img/days/day1.png' %}"></a>
        <a href="{% url 'day_2' %}"><img class="k2" src="{% static 'main/img/days/day2.png' %}"></a>
        <a href="{% url 'day_3' %}"><img class="k3" src="{% static 'main/img/days/day3.png' %}"></a>
    </div>

    <div class="dni_2">
        <a href="{% url 'day_4' %}"><img class="k4" src="{% static 'main/img/days/day4.png' %}"></a>
        <a href="{% url 'day_5' %}"><img class="k5" src="{% static 'main/img/days/day5.png' %}"></a>
        <a href="{% url 'day_6' %}"><img class="k6" src="{% static 'main/img/days/day6.png' %}"></a>

    </div>

    <div class="dni_3">
        <a href="{% url 'day_7' %}"><img class="k7" src="{% static 'main/img/days/day7.png' %}"></a>
    </div>
<div class="footer">
    <img class="imgs3" src="{% static 'main/img/logo_red.png' %}">
</div>
</body>
</html>