{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>День 1 | Плечи, трицепс</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Yeseva+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/days_2/day1_2.css' %}">
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'main/img/icon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'main/img/icon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'main/img/icon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'main/img/icon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'main/img/icon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'main/img/icon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'main/img/icon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'main/img/icon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'main/img/icon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'main/img/icon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/img/icon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'main/img/icon/avicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/img/icon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'main/img/icon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'main/img/icon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <header class="head">
        <h1>День 1. <br>Плечи, трицепс</h>
    </header>


    <div class="ex1">
    <h2 class="ex1_t">Упражнение 1  Отжимания на брусьях</h2>
        <iframe class="o3" width="350" height="200" src="https://www.youtube.com/embed/DBG_9lmjBdg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="o2" width="350" height="200" src="https://www.youtube.com/embed/A8LUzDwuTqk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="o1" width="350" height="200" src="https://www.youtube.com/embed/9L_msYGOWFc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="p1">
        <h4>Отжимания На Брусьях</h4><br>
        <p>Подходы: 3 <br>Повторы: 6-12 <br>Время Отдыха: 90 секунд</p>
    </div>

    <div class="ex2">
    <h2 class="ex2_t">Упражнение 2  Отжимания на одной с помощью</h2>
        <iframe class="t1" width="350" height="200" src="https://www.youtube.com/embed/9uXOM_6Gido" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="t2" width="350" height="200" src="https://www.youtube.com/embed/lY-21xBtJTY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="t3" width="350" height="200" src="https://www.youtube.com/embed/yogLssp6tEo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="p2">
        <h4>Отжимания на одной с помощью</h4><br>
        <p>Подходы: 3 <br>Повторы: 6-12, на каждую руку <br>Время Отдыха: 90 секунд</p>
    </div>

    <div class="ex3">
    <h2 class="ex3_t">Упражнение 3  Армейские отжимания</h2>
        <iframe class="th1" width="350" height="200" src="https://www.youtube.com/embed/pGOuawSnPmY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="th2" width="350" height="200" src="https://www.youtube.com/embed/j8CMLyKOts8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="th3" width="350" height="200" src="https://www.youtube.com/embed/oQqehPYRlpw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="p3">
        <h4>Армейские отжимания</h4><br>
        <p>Подходы: 3 <br>Повторы: 6-12 <br>Время Отдыха: 90 секунд</p>
    </div>

    <div class="ex4">
        <h2 class="ex4_t">Упражнение 4  Удержание</h2>
        <iframe class="f1" width="350" height="200" src="https://www.youtube.com/embed/gL9oT46BV2I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="f2" width="350" height="200" src="https://www.youtube.com/embed/QXvyL8AzQuo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="f3" width="350" height="200" src="https://www.youtube.com/embed/1FraQ77ZKzE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="p4">
        <h4>Удержание</h4><br>
        <p>Подходы: 3 <br>Повторы: 6-12 <br>Время Отдыха: 90 секунд</p>
    </div>


    <div class="ex5">
        <h2 class="ex5_t">Упражнение 5  Отжимания треугольник </h2>
        <iframe class="fi1" width="350" height="200" src="https://www.youtube.com/embed/SYz5e3MFfvw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="fi2" width="350" height="200" src="https://www.youtube.com/embed/H9t2Zs2lD90" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="fi3" width="350" height="200" src="https://www.youtube.com/embed/xWlqPvWxp1M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="p5">
        <h4>Отжимание треугольник</h4><br>
        <p>Подходы: 3 <br>Повторы: 6-12 <br>Время Отдыха: 90 секунд</p>
    </div>

    <a class="botton" href="{% url 'weak_2' %}">Готово</a>
</html>

