{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>День 6 | Грудные</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Yeseva+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/days_2/day5_2.css' %}">
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'main/img/icon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'main/img/icon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'main/img/icon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'main/img/icon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'main/img/icon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'main/img/icon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'main/img/icon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'main/img/icon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'main/img/icon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'main/img/icon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/img/icon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'main/img/icon/avicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/img/icon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'main/img/icon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'main/img/icon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <header class="head">
        <h1>День 6. <br>Грудные</h1>
    </header>


    <div class="ex1">
    <h2 class="ex1_t">Упражнение 1  Отжимания на брусьях широко </h2>
        <iframe class="o3" width="350" height="200" src="https://www.youtube.com/embed/YfsAOsUXx2o" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="o2" width="350" height="200" src="https://www.youtube.com/embed/MztXrRvQdsg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="o1" width="350" height="200" src="https://www.youtube.com/embed/DVkcckQqlFo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
    <div class="p1">
        <h4>Отжимания на брусьях широко</h4><br>
        <p>Подходы: 3 <br>Повторы: 6-12<br>Время Отдыха: 90 секунд</p>
    </div>

    <div class="ex2">
    <h2 class="ex2_t">Упражнение 2 Отжимание с прожим сверху </h2>
        <iframe class="t1" width="350" height="200" src="https://www.youtube.com/embed/7Yg8BPBjpcs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="t2" width="350" height="200" src="https://www.youtube.com/embed/WSA__UsoN5M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="t3" width="350" height="200" src="https://www.youtube.com/embed/gaNDVewWN6k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="p2">
        <h4>Отжимание с прожим сверху </h4><br>
        <p>Подходы: 3 <br>Повторы: 6-12<br>Время Отдыха: 90 секунд</p>
    </div>

    <div class="ex3">
    <h2 class="ex3_t">Упражнение 3 Отжимания с упорами </h2>
        <iframe class="th1" width="350" height="200" src="https://www.youtube.com/embed/7Yg8BPBjpcs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="th2" width="350" height="200" src="https://www.youtube.com/embed/Hc7A3-k0lzc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="th3" width="350" height="200" src="https://www.youtube.com/embed/ggMFIQPA7tw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="p3">
        <h4>Отжимания с упорами</h4><br>
        <p>Подходы: 3 <br>Повторы: 6-12<br>Время Отдыха: 90 секунд</p>
    </div>

    <a class="botton" href="{% url 'weak_2' %}">Готово</a>
</html>
